.modal {
    font-family: 'Poppins', monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 32px;
    color: #2D2329;
}

/*.registro-email input {
    border: 2px solid #2D2329;
    box-sizing: border-box;
    border-radius: 4px;
}*/

body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    background: none;
    border: none;
    position: absolute;
    width: 300px;
    height: 32px;
    left: 120px;
    top: 450px;
    text-decoration-line: underline;
    color: #D5864E;
    cursor: pointer;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    /*background: #1d181a;*/
    backdrop-filter: blur(10px);
}
.modal-content {
    background: #FFF1DE;
    position: relative;
    top: 40%;
    left: 50%;
    bottom: 70%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    padding: 14px 28px;
    border-radius: 4px;
    max-width: 600px;
    min-width: 300px;
}

.modal-content input {
    border: 2px solid #2D2329;
    box-sizing: border-box;
    border-radius: 4px;
}

.close-modal {
    box-sizing: border-box;
    border-radius: 4px;
    position: absolute;
    padding: 5px 7px;
    background: #D5864E;
    border: 2px solid #D5864E;
    transition: 0.4s;
    cursor: pointer;
    color: #FFF1DE;
}

.close-modal:hover{
    background: #a1653a;
    border: 2px solid #a1653a;
}