.checkout {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background: #FFF1DE;
    z-index: 2;
}

.checkout-form {
    color: #2D2329;
}

.checkout-form h2 {
    position: absolute;
    height: 54px;
    left: 363px;
    top: 60px;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
}

.comanda{
    position: absolute;
    width: 300px;
    height: 450px;
    left: 363px;
    top: 141px;
    padding: 10px 28px;

    background: #2D2329;
    border-radius: 4px;
    color: #FAFAFA;
}

.renova {
    position: absolute;
    width: 300px;
    height: 200px;
    left: 800px;
    top: 141px;
    padding: 10px 28px;

    background: #2D2329;
    border-radius: 4px;
    color: #FAFAFA;
}

.renova input{
    box-sizing: border-box;
    position: relative;
    width: 270px;
    height: 43px;
    border: 2px solid #FAFAFA;
    color: #FAFAFA;
    
    border-radius: 4px;
    background: transparent;
}

.renova button {
    width: 270px;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 5px 7px;
    background: #D5864E;
    border: 2px solid #D5864E;
    transition: 0.4s;
    cursor: pointer;
    color: #FFF1DE;
}

.renova button:hover {
    background: #a1653a;
    border: 2px solid #a1653a;
}

#concluir{
    position: absolute;
    width: 360px;
    height: 60px;
    left: 800px;
    top: 550px;

    box-sizing: border-box;
    border-radius: 4px;
    padding: 5px 7px;
    background: #D5864E;
    border: 2px solid #D5864E;
    transition: 0.4s;
    cursor: pointer;
    color: #FFF1DE;
}

#concluir:hover{
    background: #a1653a;
    border: 2px solid #a1653a;
}

#total {
    text-align: right;
    position: relative;
    left: 180px;
}